---
pagination:
    data: tones
    size: 1
    alias: tone
permalink: "tone/{{ tone.Technology | slug }}/"
layout: landing.liquid
---
<div class="card column is-full">
    
    <div class="card-content columns">
        
        <div class="content column">
            <p class="title is-4 has-text-dark">{{tone.Technology}}</p>
            
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <tr>
                    <th>Technology</th>
                    <td>{{tone.Technology}}</td>
                </tr>
                <tr>
                    <th>Frequency</th>
                    <td>{{tone.Frequency}}</td>
                </tr>
                <tr>
                    <th>Bandwidth</th>
                    <td>{{tone.Bandwidth}}</td>
                </tr>
                <tr>
                    <th>Mode</th>
                    <td>{{tone.Mode}}</td>
                </tr>
                <tr>
                    <th>Modulation</th>
                    <td>{{tone.Modulation}}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{tone.Location}}</td>
                </tr>
                <tr>
                    <th>ACF</th>
                    <td>{{tone.ACF}}</td>
                </tr>
            </table>

            <h3> Description </h3>
            <p> {{tone.Description}} </p>
        </div>
        <div class="tone-image column">
            <audio controls src="/sound/Audio Tones/{{tone.Audio}}.mp3" onerror="this.src='/sound/Audio Tones/{{tone.Audio}}.wav'"> </audio>
            <div image="tone-image">
                <img src="/images/Waterfall Images/{{ tone.Picture }}.jpg" onerror="this.src='/images/Waterfall Images/{{ tone.Picture }}.png'"  frameborder="0"></img>
            </div>
            

        </div>
    </div>
</div>